

interface GigabitEthernet{{ vpn_int }}
 ip address 172.16.252.{{ ce_ip }} 255.255.255.252
 negotiation auto
 no mop enabled
 no mop sysid

no interface GigabitEthernet{{ vpn_int }}.{{ vpn }}
 
no router bgp {{ local_as }}
!
no ip route 0.0.0.0 0.0.0.0 {{ neighbor }}
!
no ip sla {{ vpn }}
