no address-family ipv4 unicast
!
no address-family ipv6 unicast
!
no vrf CUST{{ vpn }}
!
interface loopback 0
  no description bgp router id
  no ipv6 address fd12:0:0:1::{{ ip6 }}/128
  no ipv6 address fd12:0:0:31::{{ ip6 }}/128
!
interface GigabitEthernet0/0/0/{{ vrf_int }}
 no ipv6 enable
!
no interface GigabitEthernet0/0/0/{{ vrf_int }}.{{ vpn }}
 
!
no route-policy PASS
!
router static
 no vrf CUST{{ vpn }} 
!
router bgp {{ local_as }}
 no address-family vpnv4 unicast
 !
 no address-family vpnv6 unicast
 !
 neighbor {{ peer_ip }}
  no address-family vpnv4 unicast
  !
  no address-family vpnv6 unicast
  !
 !
 no vrf CUST{{ vpn }}
 !
 no ipsla 
  

 
  

 